<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <!--Main Container -->
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/"><img src="/img/logo.png" height="60" width="150" ></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/tasks">Browse Tasks</a>
                        </li>
                        <li class="nav-item">
                            <a href="/tasks/new" class="nav-link btn btn-outline-primary btn-sm">Create a New Task</a>
                        </li>
                        <li>
                            <form action="/sessions?_method=DELETE" method="POST">
                                <button type="submit" class="nav-link btn btn-outline-primary btn-sm">Log out</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container">
            <!-- <div class="card"> -->
            <div class="row row-special">
                <% for(let i = 0; i < 1; i++){ %>
                    <div class=‘col-4’>
                        <% for(let i = 0; i < tasks.length; i+=1){ %>
                        <div class="card" style="width: 20rem; text-align:center;display:inline-block;">
                            <h3><a href="/tasks/<%=tasks[i].id; %>"><%=tasks[i].description; %></a></h3>
                            <p>Budget: <%=tasks[i].budget; %></p>
                            <p>Location: <%=tasks[i].location; %></p>
                            <p>Due Date: <%=tasks[i].duedate; %></p>
                            <p>Phone Number: <%=tasks[i].phonenumber; %></p>
                            <!-- Edit -->
                            <div>
                                <a href="/tasks/<%=tasks[i].id; %>/edit" class="btn btn-outline-primary btn-sm">Edit task</a>
                            </div>
                            <!-- Delete -->
                            <form action="/tasks/<%=tasks[i].id; %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-outline-primary btn-sm">Delete</button>
                            </form>
                        </div>
                        <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        </body>
</html>
